html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ul, li{
    list-style: none;
}






/* 这里是头部通用样式 */
.indextop{
    background-color: #17b4d2;
    background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    width: 100%;
    height: auto;
    /* box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.13); */
}
.commonhead{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.3);
    background-color: #17b4d2;
    background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    width: 100%;
    height: 60px;
}
.indexwraptop{
    height: 60px;
}
.mainwrap{
    margin: auto;
    width: 1200px;
    height: 100%;
}
.logoimg{
    height: 100%;
    cursor: pointer;
}
.mainhead{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.headtag{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-out;
    overflow: hidden;
    z-index: 10;
}
.headtag > li{
    height: 100%;
    line-height: 60px;
    padding: 0 20px;
    color: white;
    cursor: pointer;
}
.headtag > li.active:after, .headtag > li:hover:after{
    height: 5px;
}
.headtag > li:after{
    content: " ";
    height: 0;
    width: calc(100% + 40px);
    display: block;
    background-color: #ff2f2f;
    transform: translate(-20px, -100%);
    transition: all .2s ease-out;
    border-radius: 3px;
}
.headtoggle{
    height: 60px;
    display: none;
}
.headtagphone-enter-active, .headtagphone-leave-active{
    transition: opacity .5s;
}
.headtagphone-enter, .headtagphone-leave-to{
    opacity: 0;
}
.headtoggle img{
    height: 100%;
}
.tagwrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
@media screen and (min-width: 1280px){
    .indextop{
        background-color: #a6c0fe;
        background-image: linear-gradient(270deg,#3c298e,#2a5bbe 59%,#21a5e5);
    }
    .commonhead{
        background-color: #a6c0fe;
        background-image: linear-gradient(270deg,#3c298e,#2a5bbe 59%,#21a5e5);
    }
    .mainwrap{
        margin: auto;
        width: 1200px;
    }
}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .indextop{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    }
    .commonhead{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    }
    .mainwrap{
        margin: auto;
        width: 900px;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .indextop{
        background-color: #08AEEA;
        background-image: linear-gradient(90deg, #bac8e0 0%,#6a85b6 100%);
    }
    .commonhead{
        background-color: #08AEEA;
        background-image: linear-gradient(90deg, #bac8e0 0%, #6a85b6 100%);
    }
    .mainwrap{
        margin: auto;
        width: 670px;
    }
    .headtag > li{
        padding: 0 10px;
    }
    .headtag > li:after{
        width: calc(100% + 20px);
        transform: translate(-10px, -100%);
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .indextop{
        background-color: #fbc2eb;
        background-image: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
    }
    .commonhead{
        background-color: #fbc2eb;
        background-image: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
        height: 50px;
    }
    .indexwraptop{
        height: 50px;
    }
    .headtag{
        display: none;
    }
    .mainwrap{
        margin: auto;
        width: 90%;
    }
    .headtagphone{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(101, 101, 101, 0.9);
    }
    .headtagphone > li{
        line-height: 50px;
    }
    .headtagphone > li.active:after, .headtagphone > li:after, .headtagphone > li:hover:after{
        height: 1px;
        background-color: rgba(80, 80, 80, 0.80);
        transform: translate(-20px, 0%);
    }
    .headtoggle{
        height: 50px;
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .indextop{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #c2e9fb 0%, #a1c4fd 100%);
    }
    .commonhead{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #c2e9fb 0%, #a1c4fd 100%);
        height: 40px;
    }
    .indexwraptop{
        height: 40px;
    }
    .headtag{
        display: none;
    }
    .mainwrap{
        margin: auto;
        width: 100%;
    }
    .headtagphone{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(101, 101, 101, 0.9);
    }
    .headtagphone > li{
        line-height: 40px;
    }
    .headtagphone > li.active:after, .headtagphone > li:after, .headtagphone > li:hover:after{
        height: 1px;
        background-color: rgba(80, 80, 80, 0.80);
        transform: translate(-20px, 0%);
    }
    .headtoggle{
        height: 40px;
        display: block;
    }
}







/* 这里是通用文章样式 */
.featured{
    width: 100%;
    color: white;
    padding: 30px 0px 30px;
}
.recommend{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 0 30px;
}
.commonarticle a{
    text-decoration: none;
}

.featured .commonarticle{
	display: flex;
	flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.featured .article_img{
    width: 50%;
}
.featured .article_img img{
	width: 100%;
}
.article_img{
    cursor: pointer;
}
.featured .article_cont{
    width: 50%;
}
.article_cont{
    cursor: pointer;
}
.featured .article_title{
	font-size: 24px;
    color: white;
}
.featured .article_desc{
	font-size: 18px;
}
.featured .article_bottom{
	width: 100%;
	font-size: 16px;
}

.recommend .commonarticle{
    flex-grow: 0;
    flex-shrink: 1;
    width: 33.333333%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.recommend .article_img, .recommend .article_img img{
    width: 100%;
}
.recommend .article_cont{
    width: 100%;
}
.recommend .article_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.recommend .article_desc{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend .article_bottom{
    width: 80%;
}

.article_title{
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 32px;
}
.article_desc{
    font-size: 14px;
    overflow: hidden;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}
.article_bottom{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.article_author, .article_date, .article_quantity{
	margin-right: 8px;
}
.article_author span, .article_date span, .article_quantity span, .article_author img, .article_date img, .article_quantity img{
	height: 14px;
	vertical-align: middle;
}

@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {

}
@media screen and (min-width: 737px) and (max-width: 980px) {

}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .featured .commonarticle, .recommend{
        flex-flow: column nowrap;
    }
    .featured .article_img, .featured .article_cont, .featured .article_bottom, .recommend .commonarticle, .recommend .article_bottom{
        width: 100%;
    }
    .featured .article_title{
		font-size: 18px;
	}
	.featured .article_desc{
		font-size: 14px;
	}
	.featured .article_bottom{
		font-size: 12px;
	}
	.featured{
		padding: 0px;
	}
	.featured .article_title, .recommend .article_title{
		color: #4c4c4c;
	}
	.featured .article_desc, .recommend .article_desc{
		color: #757575;
	}
}
@media screen and (max-width: 480px) {
    .featured .commonarticle, .recommend{
        flex-flow: column nowrap;
    }
    .featured .article_img, .featured .article_cont, .featured .article_bottom, .recommend .commonarticle, .recommend .article_bottom{
        width: 100%;
    }
    .featured .article_title{
		font-size: 18px;
	}
	.featured .article_desc{
		font-size: 14px;
	}
	.featured .article_bottom{
		font-size: 12px;
	}
	.featured{
		padding: 0px;
	}
	.featured .article_title, .recommend .article_title{
        color: #4c4c4c;
    }
	.featured .article_desc, .recommend .article_desc{
        color: #757575;
    }
}






/* 这里是底部通用样式 */
.commonfoot{
    background-image: linear-gradient(0deg, #003492 50px, #2f69d4 50%);
}
.copyright{
    font-size: 13px;
    padding: 18px 0;
    text-align: center;
}
.copyrighttext{
    color: #878c8e;
}
.copyrighttext a{
    color: white;
    text-decoration: none;
}
.mainfoot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.introduce, .friendship{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.friendship{
    color: white;
    font-size: 14px;
}
.friendship a{
    display: inline-block;
    color: white;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
    padding: 6px 0 10px;
    border-bottom: 1px solid rgba(121, 121, 121, 0.5);
}
.introduce img{
    display: block;
    margin: auto;
    max-height: 140px;
    max-width: 100%;
}
.commonfoothead{
    background-color: #ccc;
}
@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {

}
@media screen and (min-width: 737px) and (max-width: 980px) {

}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .mainfoot{
        flex-direction: column;
    }
    .introduce, .friendship{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .mainfoot{
        flex-direction: column;
    }
    .introduce, .friendship{
        width: 100%;
    }
}




/* 这里是评论组件通用样式 */
.comment{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.commenttop{
    width: 100%;
    font-size: 16px;
}
.commenttop span{
    line-height: 30px;
    vertical-align: middle;
}
.commenttop img{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.commentmain{
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
.messagetop{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.messagetop input{
    flex: 0 1 33.3333%;
    border: none;
    resize: none;
    outline: none;
    padding: 10px 5px;
    line-height: 26px;
    border-bottom: 1px dashed #dedede;
    box-sizing: border-box;
    transition: all .4s ease;
}
.messagetop input.active{
    border-bottom: 1px dashed #e63e3e;
}
.edit{
    padding-top: 10px;
}
.edit textarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 140px;
    width: 100%;
    /* border: 1px dotted #dedede; */
    border: 1px dotted rgba(0,0,0,0);
    box-sizing: border-box;
    background: transparent;
    outline:none;
    border-radius: 4px;
    transition: all .4s ease;
}
.edit textarea.active{
    border: 1px dotted #e63e3e;
}
.submitcomment{
    float: right;
    display: inline-block;
    padding: 6px 26px;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    margin: 8px 0px;
    background-color: #2778ce;
    color: white;
    border-radius: 4px;
}
.commentlist{
    min-height: 100px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;

}
.commentimg{
    width: 20%;
}
.commentimg img{
    max-width: 50px;
    width: 100%;
    margin: 20px auto 0;
    display: block;
}
.commentcont{
    width: 80%;
}
.commentcont span{
    text-indent:25px;
    display: block;
    cursor: pointer;
    color: #1abc9c;
    font-size: 16px;
    line-height: 30px;
}
.commentcont var{
    text-indent:25px;
    display: block;
    color: #b3b3b3;
    font-size: 12px;
    line-height: 30px;
    font-style: normal;
}
.cont{
    padding: 0 10px;
    text-indent:36px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    color: #4a4a4a;
    line-height: 2;
    font-size: 16px;
}

/* 这里是中部通用样式--内容、侧栏 */
.mainbody{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 30px;
}
.bodypart{
    overflow: hidden;
    width: calc(100% - 290px);
}
.bodyside{
    width: 290px;
}
@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .bodypart{
        width: calc(100% - 260px);
    }
    .bodyside{
        width: 260px;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}



/* 这里是分隔线通用样式 */
.cutline{
    width: 94%;
    height: 40px;
    padding: 10px 0 5px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.cutlineimg{
    height: 40px;
    vertical-align: middle;
}
.cutline span{
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(51, 51, 51, 0.8);
}
.cutline:after{
    width: 100%;
    content: '';
    border-top: 2px solid rgba(0,0,0,.05);
}




/* 这里是首页通用文章块样式 */
.articlearea{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0 0 30px;
}
.articlearea .commonarticle{
    flex-grow: 0;
    flex-shrink: 1;
    width: 33.333333%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px 30px 10px;
}
.articlearea .article_img, .articlearea .article_img img{
    width: 100%;
}
.articlearea .article_cont{
    width: 100%;
}
.articlearea .article_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.articlearea .article_desc{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articlearea .article_title{
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 32px;
}
.articlearea .article_desc{
    font-size: 14px;
    overflow: hidden;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}
.articlearea .article_bottom{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.articlearea .article_author, .articlearea .article_date, .articlearea .article_quantity{
    margin-right: 8px;
}
.articlearea .article_author span, .articlearea .article_date span, .articlearea .article_quantity span, .articlearea .article_author img, .articlearea .article_date img, .articlearea .article_quantity img{
    height: 14px;
    vertical-align: middle;
}

@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .articlearea .commonarticle{
        width: 50%;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .articlearea .commonarticle{
        width: 50%;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .articlearea .commonarticle{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .articlearea .commonarticle{
        width: 100%;
    }
}


/* 这里是侧边文章分类样式 */
.categorylist{
    width: 90%;
    margin: auto;
}
.categorylist a{
    display: inline-block;
    padding: 4px 6px;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    margin: 8px 8px;
    background-color: #2778ce;
    color: white;
    border-radius: 4px;
}



/* 这里是文章页面样式 */
.article .articleimg{
    height: 600px;
    position: relative;
    overflow: hidden;
}
.article .articleimg img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.article .article_bottom{
    color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    font-size: 18px;
    line-height: 30px;
}
.article .title{
    font-size: 36px;
    text-align: center;
}
.article .title span{
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.article .article_author span, .article .article_date span, .article .article_quantity span, .article .article_author img, .article .article_date img, .article .article_quantity img{
    height: 18px;
}
.article .article_author, .article .article_date, .article .article_quantity{
    margin-right: 20px;
}
.content{
    width: 100%;
    min-height: 600px;
    padding: 40px 10px;
    box-sizing: border-box;
}
@media screen and (min-width: 1280px){
    .article .articleimg{
        height: 600px;
    }
}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .article .articleimg{
        height: 540px;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .article .articleimg{
        height: 440px;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .article .articleimg{
        height: 300px;
    }
}
@media screen and (max-width: 480px) {
    .article .articleimg{
        height: 190px;
    }
}


/* 这里是文章显示样式 */
.hidden{
    display: none;
}
.left_article{
    float: left;
}
.left_article{
    float: right;
}
.full_article{
    width: 100%;
}
.part1_article{
    width: calc(100%/12);
}
.part2_article{
    width: calc(100%/12*2);
}
.part3_article{
    width: calc(100%/12*3);
}
.part4_article{
    width: calc(100%/12*4);
}
.part5_article{
    width: calc(100%/12*5);
}
.part6_article{
    width: calc(100%/12*6);
}
.part7_article{
    width: calc(100%/12*7);
}
.part8_article{
    width: calc(100%/12*8);
}
.part9_article{
    width: calc(100%/12*9);
}
.part10_article{
    width: calc(100%/12*10);
}
.part11_article{
    width: calc(100%/12*11);
}
.height30_article{
    height: 30px;
}
.height40_article{
    height: 40px;
}
.height50_article{
    height: 50px;
}
.height60_article{
    height: 60px;
}
.height70_article{
    height: 70px;
}
.height80_article{
    height: 80px;
}
.height90_article{
    height: 90px;
}
.height100_article{
    height: 100px;
}
.height130_article{
    height: 130px;
}
.height160_article{
    height: 160px;
}
.height200_article{
    height: 200px;
}
.ql-indent-1{
    padding-left: 1em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-2{
    padding-left: 2em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-3{
    padding-left: 3em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-4{
    padding-left: 4em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-5{
    padding-left: 5em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-6{
    padding-left: 6em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-7{
    padding-left: 7em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-8{
    padding-left: 8em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-9{
    padding-left: 9em;
    text-indent: 2em;
    line-height: 30px;
}
.ql-indent-10{
    padding-left: 10em;
    text-indent: 2em;
    line-height: 30px;
}
pre{
    border-left: 6px solid #11bfb9;
    margin: 0;
    padding-left: 1.5em;
    font-size: 25px;
    line-height: 40px;
    background-color: #2965c3;
    color: #ffffff;
    border-radius: 10px;
}
blockquote{
    border-left: 0!important;
    padding: 3px;
    margin: 0!important;
    padding-left: 2.5em;
    border-radius: 0;
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
