html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ul, li{
    list-style: none;
}






/* 这里是头部通用样式 */
.indextop{
    background-color: #17b4d2;
    background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    width: 100%;
    height: auto;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.13);
}
.commonhead{
    background-color: #17b4d2;
    background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    width: 100%;
    height: 60px;
}
.mainwrap{
    margin: auto;
    width: 1200px;
    height: 100%;
}
.logoimg{
    height: 100%;
}
.mainhead{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.headtag{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-out;
    overflow: hidden;
    z-index: 10;
}
.headtag > li{
    height: 100%;
    line-height: 60px;
    padding: 0 20px;
    color: white;
}
.headtag > li.active:after, .headtag > li:hover:after{
    height: 5px;
}
.headtag > li:after{
    content: " ";
    height: 0;
    width: calc(100% + 40px);
    display: block;
    background-color: #ff2f2f;
    transform: translate(-20px, -100%);
    transition: all .2s ease-out;
    border-radius: 3px;
}
.headtoggle{
    height: 60px;
    display: none;
}
.headtagphone-enter-active, .headtagphone-leave-active{
    transition: opacity .5s;
}
.headtagphone-enter, .headtagphone-leave-to{
    opacity: 0;
}
.headtoggle img{
    height: 100%;
}
.tagwrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
@media screen and (min-width: 1280px){
    .indextop{
        background-color: #a6c0fe;
        background-image: linear-gradient(270deg,#3c298e,#2a5bbe 59%,#21a5e5);
    }
    .commonhead{
        background-color: #a6c0fe;
        background-image: linear-gradient(270deg,#3c298e,#2a5bbe 59%,#21a5e5);
    }
    .mainwrap{
        margin: auto;
        width: 1200px;
    }
}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .indextop{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    }
    .commonhead{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #17b4d2 19%, #a53dd8 85%);
    }
    .mainwrap{
        margin: auto;
        width: 900px;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .indextop{
        background-color: #08AEEA;
        background-image: linear-gradient(90deg, #bac8e0 0%,#6a85b6 100%);
    }
    .commonhead{
        background-color: #08AEEA;
        background-image: linear-gradient(90deg, #bac8e0 0%, #6a85b6 100%);
    }
    .mainwrap{
        margin: auto;
        width: 670px;
    }
    .headtag > li{
        padding: 0 10px;
    }
    .headtag > li:after{
        width: calc(100% + 20px);
        transform: translate(-10px, -100%);
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .indextop{
        background-color: #fbc2eb;
        background-image: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
    }
    .commonhead{
        background-color: #fbc2eb;
        background-image: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
        height: 50px;
    }
    .headtag{
        display: none;
    }
    .mainwrap{
        margin: auto;
        width: 90%;
    }
    .headtagphone{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(101, 101, 101, 0.9);
    }
    .headtagphone > li{
        line-height: 50px;
    }
    .headtagphone > li.active:after, .headtagphone > li:after, .headtagphone > li:hover:after{
        height: 1px;
        background-color: rgba(80, 80, 80, 0.80);
        transform: translate(-20px, 0%);
    }
    .headtoggle{
        height: 50px;
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .indextop{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #c2e9fb 0%, #a1c4fd 100%);
    }
    .commonhead{
        background-color: #17b4d2;
        background-image: linear-gradient(90deg, #c2e9fb 0%, #a1c4fd 100%);
        height: 40px;
    }
    .headtag{
        display: none;
    }
    .mainwrap{
        margin: auto;
        width: 100%;
    }
    .headtagphone{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(101, 101, 101, 0.9);
    }
    .headtagphone > li{
        line-height: 40px;
    }
    .headtagphone > li.active:after, .headtagphone > li:after, .headtagphone > li:hover:after{
        height: 1px;
        background-color: rgba(80, 80, 80, 0.80);
        transform: translate(-20px, 0%);
    }
    .headtoggle{
        height: 40px;
        display: block;
    }
}







/* 这里是通用文章样式 */
.featured{
    width: 100%;
    color: white;
    padding: 30px 0px 30px;
}
.recommend{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 0 30px;
}
.commonarticle a{
    text-decoration: none;
}

.featured .commonarticle{
	display: flex;
	flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.featured .article_img{
	width: 50%;
}
.featured .article_img img{
	width: 100%;
}
.featured .article_cont{
	width: 50%;
}
.featured .article_title{
	font-size: 24px;
    color: white;
}
.featured .article_desc{
	font-size: 18px;
}
.featured .article_bottom{
	width: 100%;
	font-size: 16px;
}

.recommend .commonarticle{
    flex-grow: 0;
    flex-shrink: 1;
    width: 33.333333%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.recommend .article_img, .recommend .article_img img{
    width: 100%;
}
.recommend .article_cont{
    width: 100%;
}
.recommend .article_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.recommend .article_desc{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend .article_bottom{
    width: 80%;
}

.article_title{
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 32px;
}
.article_desc{
    font-size: 14px;
    overflow: hidden;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}
.article_bottom{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.article_author, .article_date, .article_quantity{
	margin-right: 8px;
}
.article_author span, .article_date span, .article_quantity span, .article_author img, .article_date img, .article_quantity img{
	height: 14px;
	vertical-align: middle;
}

@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {

}
@media screen and (min-width: 737px) and (max-width: 980px) {

}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .featured .commonarticle, .recommend{
        flex-flow: column nowrap;
    }
    .featured .article_img, .featured .article_cont, .featured .article_bottom, .recommend .commonarticle, .recommend .article_bottom{
        width: 100%;
    }
    .featured .article_title{
		font-size: 18px;
	}
	.featured .article_desc{
		font-size: 14px;
	}
	.featured .article_bottom{
		font-size: 12px;
	}
	.featured{
		padding: 0px;
	}
	.featured .article_title, .recommend .article_title{
		color: #4c4c4c;
	}
	.featured .article_desc, .recommend .article_desc{
		color: #757575;
	}
}
@media screen and (max-width: 480px) {
    .featured .commonarticle, .recommend{
        flex-flow: column nowrap;
    }
    .featured .article_img, .featured .article_cont, .featured .article_bottom, .recommend .commonarticle, .recommend .article_bottom{
        width: 100%;
    }
    .featured .article_title{
		font-size: 18px;
	}
	.featured .article_desc{
		font-size: 14px;
	}
	.featured .article_bottom{
		font-size: 12px;
	}
	.featured{
		padding: 0px;
	}
	.featured .article_title, .recommend .article_title{
        color: #4c4c4c;
    }
	.featured .article_desc, .recommend .article_desc{
        color: #757575;
    }
}






/* 这里是底部通用样式 */
.commonfoot{
    background-image: linear-gradient(0deg, #003492 50px, #2f69d4 50%);
}
.copyright{
    font-size: 13px;
    padding: 18px 0;
    text-align: center;
}
.copyrighttext{
    color: #878c8e;
}
.copyrighttext a{
    color: white;
    text-decoration: none;
}
.mainfoot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.introduce, .friendship{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}
.friendship{
    color: white;
    font-size: 14px;
}
.friendship a{
    display: inline-block;
    color: white;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
    padding: 6px 0 10px;
    border-bottom: 1px solid rgba(121, 121, 121, 0.5);
}
.introduce img{
    display: block;
    margin: auto;
    max-height: 140px;
    max-width: 100%;
}
.commonfoothead{
    background-color: #ccc;
}
@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {

}
@media screen and (min-width: 737px) and (max-width: 980px) {

}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .mainfoot{
        flex-direction: column;
    }
    .introduce, .friendship{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .mainfoot{
        flex-direction: column;
    }
    .introduce, .friendship{
        width: 100%;
    }
}



/* 这里是中部通用样式--内容、侧栏 */
.mainbody{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 30px;
}
.bodypart{
    overflow: hidden;
    width: calc(100% - 290px);
}
.bodyside{
    width: 290px;
}
@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .bodypart{
        width: calc(100% - 260px);
    }
    .bodyside{
        width: 260px;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .mainbody{
        flex-direction: column;
    }
    .bodypart, .bodyside{
        width: 100%;
    }
}



/* 这里是分隔线通用样式 */
.cutline{
    width: 94%;
    height: 40px;
    padding: 10px 0 5px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.cutlineimg{
    height: 40px;
    vertical-align: middle;
}
.cutline span{
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(51, 51, 51, 0.8);
}
.cutline:after{
    width: 100%;
    content: '';
    border-top: 2px solid rgba(0,0,0,.05);
}




/* 这里是首页通用文章块样式 */
.articlearea{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0 0 30px;
}
.articlearea .commonarticle{
    flex-grow: 0;
    flex-shrink: 1;
    width: 33.333333%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px 30px 10px;
}
.articlearea .article_img, .articlearea .article_img img{
    width: 100%;
}
.articlearea .article_cont{
    width: 100%;
}
.articlearea .article_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.articlearea .article_desc{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articlearea .article_title{
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 32px;
}
.articlearea .article_desc{
    font-size: 14px;
    overflow: hidden;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}
.articlearea .article_bottom{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.articlearea .article_author, .articlearea .article_date, .articlearea .article_quantity{
    margin-right: 8px;
}
.articlearea .article_author span, .articlearea .article_date span, .articlearea .article_quantity span, .articlearea .article_author img, .articlearea .article_date img, .articlearea .article_quantity img{
    height: 14px;
    vertical-align: middle;
}

@media screen and (min-width: 1280px){

}
@media screen and (min-width: 981px) and (max-width: 1280px) {
    .articlearea .commonarticle{
        width: 50%;
    }
}
@media screen and (min-width: 737px) and (max-width: 980px) {
    .articlearea .commonarticle{
        width: 50%;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) {
    .articlearea .commonarticle{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .articlearea .commonarticle{
        width: 100%;
    }
}
